version: "3.9"

services:
  blockchain:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "npx hardhat node --hostname 0.0.0.0"
    ports:
      - "8545:8545"

  deployer:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - RPC_URL=http://blockchain:8545
    depends_on:
      - blockchain
